on:
  release:
    types: [created]

name: Build and Release

jobs:
  blockless_runtime:
    strategy:
      matrix:
        include:
          - build: linux-x64
            os: ubuntu-latest
            rust: stable
            target: x86_64-unknown-linux-gnu
          - build: linux-aarch64
            os: ubuntu-latest
            rust: stable
            target: aarch64-unknown-linux-gnu
            linker: gcc-aarch64-linux-gnu
            cross: true
          - build: macos
            os: macos-latest
            rust: stable
            target: x86_64-apple-darwin
          - build: macos-aarch64
            os: macos-latest
            rust: stable
            target: aarch64-apple-darwin
          - build: windows
            os: windows-latest
            rust: stable
            target: x86_64-pc-windows-msvc
          - build: windows
            os: windows-latest
            rust: stable
            target: aarch64-pc-windows-msvc
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          repository: txlabs/blockless-runtime-environment
          token: ${{ secrets.gh_pat }}
      - name: Install Linker
        if: matrix.cross && contains(matrix.os, "ubuntu-latest")
        run: |
          sudo apt update
          sudo apt install ${{ matrix.linker }}
      - name: Install Rust
        run: rustup install ${{ matrix.rust }}
      - name: Install Rust
        run: rustup target add ${{ matrix.target }}
      - name: Build
        run: cargo build --release --target ${{ matrix.target }}
      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: target/release/.fingerprint
      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: target/release/examples
      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: target/release/build
      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: target/release/incremental
      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: target/release/examples
      - name: Remove File
        uses: JesseTG/rm@v1.0.3
        with:
          path: target/release/deps
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: "tar"
          filename: ../../blockless-runtime.${{ matrix.target }}.tar.gz
          directory: target/release
          path: .
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.3
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: blockless-runtime.${{ matrix.target }}.tar.gz
          asset_name: blockless-runtime.${{ matrix.target }}.tar.gz
          asset_content_type: application/gzip

  blockless_networking_release:
    strategy:
      matrix:
        goos: [darwin, linux, windows]
        goarch: [amd64, arm64]
    runs-on: ubuntu-latest
    steps:
      - name: set goos
        run: echo "GOOS=${{ matrix.goos }}"
      - name: set goarch
        run: echo "GOARCH=${{ matrix.goarch }}"
      - uses: actions/checkout@v2
        with:
          repository: txlabs/blockless-networking
          token: ${{ secrets.gh_pat }}
      - uses: actions/setup-go@v3
        with:
          go-version: "1.17"
          check-latest: true
      - run: make
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: "tar"
          directory: build/
          filename: ../blockless-txkeygen-${{ matrix.goos }}.${{ matrix.goarch }}.tar.gz
          path: txkeygen*
      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: "tar"
          directory: build/
          filename: ../blockless-txnode-${{ matrix.goos }}.${{ matrix.goarch }}.tar.gz
          path: txnode*
      - name: Get release
        id: get_release
        uses: bruceadams/get-release@v1.2.3
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: blockless-txnode-${{ matrix.goos }}.${{ matrix.goarch }}.tar.gz
          asset_name: blockless-txnode-${{ matrix.goos }}.${{ matrix.goarch }}.tar.gz
          asset_content_type: application/gzip
      - name: upload artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: blockless-txkeygen-${{ matrix.goos }}.${{ matrix.goarch }}.tar.gz
          asset_name: blockless-txkeygen-${{ matrix.goos }}.${{ matrix.goarch }}.tar.gz
          asset_content_type: application/gzip
